{% extends 'bootstrap/base.html' %}


<html>
    <head>
        {% if title %}
        <title>{{ title }} - WM-HINDUS</title>
        {% else %}
        <title>Welcome to WM-HINDUS!</title>
        {% endif %}
    </head>
    <body>
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">WM-Hindus</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Leader Board</a></li>
                        <li><a href="/add_visit">Add Visist</a></li>
                        <li><a href="/want_to_go">Want To Go</a></li>
                        <li><a href="/add_want_to_go">Add Want To Go</a></li>
                    </ul>

                    <a href= "{{ url_for("profile") }}">
                        <img class="img" src="static/anon-icon.png" align="right"></img>
                    </a>
                </div>
            </div>

        </nav>
    {% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
