{% extends "base.html" %}


{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='leaderboard.css') }}"/>
</head>

<div class=container>
    <h1>Leader board</h1>
    <hr>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

    <table cellspacing=0 class="table table-bordered table-hover table-striped sortable" id="leader_board" width=100%>
        <thead>
            <tr>
                <th>Restaurant's name</th>
                <th>General Rating</th>
                <th>Taste Rating</th>
                <th>Delivery Rating</th>
                <th>Spiciness Rating</th>
            </tr>
        </thead>

        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>
                    <a href="{{ url_for("restaurant_profile", restaurant_id=restaurant["id"]) }}">
                        {{ restaurant["name"] }}
                    </a>
                </td>
                <td>
                    <div class="rating">
                        <script type="text/plain" hidden>{{ restaurant["general_rating"] }}</script>
                        <div class="empty-stars"></div>
                        <div class="full-stars" style="width: {{ (restaurant["general_rating"] / 0.05) | int }}%">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="rating">
                        <script type="text/plain" hidden>{{ restaurant["taste_rating"] }}</script>
                        <div class="empty-stars"></div>
                        <div class="full-stars" style="width: {{ (restaurant["taste_rating"] / 0.05) | int }}%">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="rating">
                        <script type="text/plain" hidden>{{ restaurant["delivery_rating"] }}</script>
                        <div class="empty-stars"></div>
                        <div class="full-stars" style="width: {{ (restaurant["delivery_rating"] / 0.05) | int }}%">
                        </div>
                    </div>
                </td>

                <td>
                    <div class="rating">
                        <script type="text/plain" hidden>{{ restaurant["spiciness_rating"] }}</script>
                        <div class="empty-peppers"></div>
                        <div class="full-peppers" style="width: {{ (restaurant["spiciness_rating"] / 0.05) | int }}%">
                        </div>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

