{% extends "base.html" %}


{% block content %}


<div class=container>
    <h1>Leader board</h1>
    <hr>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

    <table cellspacing=0 class="table table-bordered table-hover table-striped sortable" id="leader_board" width=100%>
        <thead>
            <tr>
                <th>Restaurant's name</th>
                <th>General Rating</th>
                <th>Taste Rating</th>
                <th>Delivery Rating</th>
                <th>Spiciness Rating</th>
            </tr>
        </thead>

        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>
                    <a href="{{ url_for("restaurant_profile", restaurant_id=restaurant["id"]) }}">
                    {{ restaurant["name"] }}
                    </a>
                </td>
                <td>{{ restaurant["general_rating"] }}</td>
                <td>{{ restaurant["taste_rating"] }}</td>
                <td>{{ restaurant["delivery_rating"] }}</td>
                <td>{{ restaurant["spiciness_rating"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

