{% extends "base.html" %}


{% block content %}


<div class=container>
    <h1>Leader board</h1>
    <hr>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

    <table cellspacing=0 class="table table-bordered table-hover table-striped sortable" id="leader_board" width=100%>
        <thead>
            <tr>
                <th>Restaurant's name</th>
                <th>General Rating</th>
                <th>Taste Rating</th>
                <th>Delivery Rating</th>
                <th>Spiciness Rating</th>
            </tr>
        </thead>

        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant["name"] }}</td>

                <td>
                    <div class="rating">
                        <div class="empty-stars"></div>
                        <div class="full-stars" style="width:70%"></div>
                    </div>
                </td>

                <td>{{ restaurant["general_rating"] }}</td>

                <td>{{ "\U0001F35B" * (restaurant["taste_rating"] | int) }}</td>
                <td>{{ "\U0001F4E6" * (restaurant["delivery_rating"] | int) }}</td>
                <td>{{ "\U0001F336" * (restaurant["spiciness_rating"] | int) }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

