{% extends "base.html" %}


{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='restaurant.css') }}"/>
</head>

<div class=container>
    <br>
    <table cellspacing=0 class="table table-bordered table-striped" id="basi" width=40%>
        <tr>
            <th text-align: left;>
                <h1>{{ name }}</h1>
            </th>

            <th text-align: right;>
                <h3> url: <a href="{{ url }}">{{ url }}</a> </h3>
            </th>
        </tr>
    </table>

    <br>
    <br>
    <br>

    <table cellspacing=0 class="table table-bordered table-hover table-striped sortable"
        id="restaurant info" width=40%>
        <thead>
            <tr>
                <th>
                    <h2>{{ place }} </h2>
                    <h3>best restaurant</h3>
                </th>
                <th>
                    <h2>{{ number_of_ratings }} </h2>
                    <h3>ratings</h3>
                </th>
                <th>
                    <h2>{{ number_of_users_rated }} </h2>
                    <h3>users rated</h3>
                </th>
            </tr>
        </thead>
    </table>

</div>

{% endblock %}

