{% extends "base.html" %}


{% block content %}
    <div class="container">
        <h1>Admin Panel</h1>
        <h3>Users:</h3>
        <table style="width:50">
            <tr>
                <th> Username </th>
                <th> User </th>
                <th> Admin </th>
            </tr>

            <form action="/admin_panel" method="POST">

                {% for username, roles in users.items() %}
                    <tr>
                        <th>
                            {{ username }} 
                        </th>
                        <th>
                            <div class="form-check">
                                <input class="form-check-input" 
                                    type="checkbox"
                                    value="User"
                                    id="User" 
                                    name={{ username }} 
                                    {% if roles["User"] %}checked{% endif %}>
                            </div>
                        </th>
                        <th>
                            <div class="form-check">

                                <input class="form-check-input" 
                                    type="checkbox"
                                    value="Admin"
                                    id="Admin" 
                                    name={{ username }} 
                                    {% if roles["Admin"] %}checked{% endif %}>

                            </div>
                        </th>
                    </tr>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </table>
    </div>
{% endblock %}
